@page "/person/edit/{PersonId:int}"
@inject IPersonRepository personRepository
@inject NavigationManager navigationManager
@attribute [Authorize(Roles = "Admin")]

<h3>Edit Person</h3>

@if (person != null)
{
    <PersonForm Person="person" onValidSubmit="Edit" />
}

@code {
    [Parameter] public int PersonId { get; set; }
    public Person person;

    protected async override Task OnInitializedAsync()
    {
        person = await personRepository.GetPerson(PersonId);
    }

    private async Task Edit()
    {
        await personRepository.UpdatePerosn(person);
        navigationManager.NavigateTo("people");
    }
}
