@page "/books"
@inject IBookRepository BookRepository

<h3>Index Books</h3>

<div class="form-group">
    <a class="btn btn-info" href="Book/create">New Book</a>
</div>

<p>Hello World</p>

<GenericList List="Books">
    <WholeListTemplate>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Name</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Books)
                {
                    <tr>
                        <td>
                            @item.Name
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </WholeListTemplate>
</GenericList>

@code {
    List<Book> Books;

    protected override async Task OnInitializedAsync()
    {
        try
        {
            Books = await BookRepository.GetBooks();
        }
        catch (Exception)
        {

            throw;
        }
    }
}